* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: #131313;
  font-size: 16px;
  line-height: 1.5;
  max-width: 100vw;
  overflow-x: hidden;
}

.solidBg {
  /* background-color: #2A547D; */
  background: linear-gradient(210deg, rgba(42, 84, 125, 1) 0%, rgba(58, 115, 171, 1) 84%);
  background: -moz-linear-gradient(210deg, rgba(42, 84, 125, 1) 0%, rgba(58, 115, 171, 1) 100%);
  background: -webkit-linear-gradient(210deg, rgba(42, 84, 125, 1) 0%, rgba(58, 115, 171, 1) 100%);
}

.logoContainer {
  margin: 0 0 0 2rem;
  width: 125px;
  height: 80px;
  object-fit: contain;
}

.siteNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0 1rem 0;
}

.siteNav__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.siteNav__item {
  margin: 0 3rem 0 2rem;
}

.siteNav__item a {
  color: #F8F8F8;
  font-size: 1.25rem;
  text-decoration: none;
}

.siteNav__item a:hover {
  color: #FCC947;
  text-decoration: underline;
}

.footer {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

@media (max-width: 700px) {
  .siteNav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .logoContainer {
      margin: 0;
      width: auto;
    }

    .siteNav__list {
      margin: 1rem 0 0 0;
    }
}
