.main {
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main h2 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0 0 1rem 0;
  text-align: center;
}

.cta__text p {
  padding: 0 0 2rem 0;
  text-align: center;
}

.cta__box {
  font-size: 1.15rem;
  max-width: 600px;
  padding: 3rem;
  background-color: rgba(248, 248, 248, .95);
  box-shadow: 0 0.75rem 2rem 0 rgba(19, 19, 19, 0.3);
  border-radius: 2rem;
  border: 1px solid rgba(19, 19, 19, 0.125);
}

.cta__text {
  color: #131313;
}

.formContainer {
  margin: auto;
  width: 100%;
}

.form__fieldset {
  border: none;
}

.form__input {
  padding: 1.15rem;
  border: none;
  border-radius: 2rem;
  width: 100%;
}

.form__input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15rem;
}

@media (max-width: 400px) {
  .main h2 {
    font-size: 2rem;
  }
}

